<div class="row">

    <div class="col-md-12">

        <center>
            <h1 style="text-decoration:underline">User's Details</h1>
        </center>
        <br/>
        <center>
            <h3>Non Approved Users</h3>
        </center>
        <table border="1" class="table table-bordered table-hover table-striped">
            <tr>
                <th>User Image</th>
                <th>User ID</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Password</th>
                <th>Email Id</th>
                <th>Role</th>
                <th>Phone</th>
                <th>Approve</th>
                <th>Disapprove</th>
            </tr>
            <tr ng-repeat="x in regCtrl.usersD">
                <td><img ng-src="./assets/images/{{x.userImage}}" height="80" width="80"/></td>
                <td>{{x.userId}}</td>
                <td>{{x.userName}}</td>
                <td>{{x.fullName}}</td>
                <td>{{x.password}}</td>
                <td>{{x.email}}</td>
                <td>{{x.role}}</td>
                <td>{{x.phone}}</td>
                <td><button ng-click="regCtrl.activateUser(x.userId)" class="btn btn-default" onclick="this.parentElement.style.display='none';"><span class="glyphicon glyphicon-ok"></span></button></td>
                <td><button ng-click="regCtrl.deleteUser(x.userId)" class="btn btn-default" onclick="this.parentElement.style.display='none';"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </table>

        <center>
            <h3>Approved Users</h3>
        </center>
        <table border="1" class="table table-bordered table-hover table-striped">
            <tr>
                <th>User Image</th>
                <th>User ID</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Password</th>
                <th>Email Id</th>
                <th>Role</th>
                <th>Phone</th>
            </tr>
            <tr ng-repeat="x in regCtrl.usersA">
                <td><img ng-src="./assets/images/{{x.userImage}}" height="80" width="80"/></td>
                <td>{{x.userId}}</td>
                <td>{{x.userName}}</td>
                <td>{{x.fullName}}</td>
                <td>{{x.password}}</td>
                <td>{{x.email}}</td>
                <td>{{x.role}}</td>
                <td>{{x.phone}}</td>
            </tr>
        </table>
    </div>

</div>